<%- include('partials/header.ejs') %>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="game_img col-md-4">
                <% console.log(gameData) %>
                <img src="<%=gameData.cover.replace("t_thumb", "t_1080p")%>" class="card-img" alt="<%=gameData.name%> cover">" alt="">
             </div>
             <div class="game col-md-8">
                <p class="card-title game-title"><%= gameData.name %></p>
                <p class="card-summary game-summary"><%= gameData.summary %></p>
            </div>
        </div>
            <div class="row">      
                         <div class="genre col-md-3">
                             <p class="title">Genres</p>
                             <ul>
                                <% if(!gameData.genres || gameData.genres.length == 0){%>
                                    <p>No Data Found</p>
                                    <%}%>
                               <% for(let genre of gameData.genres){ %>
                                <li><%=genre.name%></li>
                                <%}%>

                            </ul>
                         </div>
                         

                
                         <div class="game-modes col-md-3">
                            <p class="title">Game Modes</p>
                             <ul>
                                <% if(!gameData.gamemodes || gameData.gamemodes.length == 0){%>
                                    <p>No Data Found</p>
                                    <%}%>
                               <% for(let gamemode of gameData.gamemodes){ %>
                                <li><%=gamemode.name%></li>
                                <%}%>
                            </ul>
                         </div>
                        
    
                         <div class="platforms col-md-3">
                            <p class="title">Platforms</p>
                             <ul>
                                    <% if(!gameData.platforms || gameData.platforms.length == 0){%>
                                        <p>No Data Found</p>
                                        <%}%>
                                   <% for(let platform of gameData.platforms){ %>
                                    <li><a href="<%=platform.url%>"><%=platform.name%></a></li>
                                    <%}%>
                            </ul>
                    </div>

                    </div>
                <div class="row">
                         <div class="characters col-md-12">
                            <p class="title">Characters</p>
                             <ul>
                                <% if(!gameData.characters || gameData.characters.length == 0){%>
                                    <p>No Data Found</p>
                                    <%}%>
                               <% for(let character of gameData.characters){ %>
                                <li><%=character.name%></li>
                                <%}%>
                            </ul>
                        </div>
            

                
                         <div class="Websites col-md-12">
                            <p class="title">Websites</p>
                             <ul>
                                <% if(!gameData.websites || gameData.websites.length == 0){%>
                                    <p>No Data Found</p>
                                    <%}%>
                               <% for(let website of gameData.websites){ %>
                                <li><a href="<%=website.url%>"><%=website.url%></a></li>
                                <%}%>
                                
                               
                            </ul>
            </div>

                         <div class="screenshots col-md-12">
                            <p class="title">Screenshots</p>
                           <div class="screenshot-imgs">
                            <% if(!gameData.screenshots || gameData.screenshots.length == 0){%>
                                <p>No Data Found</p>
                                <%}%>
                           <% for(let screenshot of gameData.screenshots){ %>
                            <img src="<%=screenshot.url%>" alt="">
                            <%}%>
                           </div>
                        </div>
                        
               <div class="similars col-md-12">
                <p class="title">Similar Games</p>
                <% if(!gameData.similars || gameData.similars.length == 0){%>
                    <p>No Data Found</p>
                    <%}%>
               <% for(let similar of gameData.similars){ %>
                <a href="/games/<%= similar.similar_game_id %>" class="plain">
                    <div class="card">
                        <div class="column">
                            <div class="col-md-12">
                                <div class="card-body">
                                        <img src="<%=similar.similar_game_cover%>" alt="" class="float-start">
                                        <p class="title"><%=similar.similar_game_name%></p>
                                        <p class="summary"><%=similar.similar_game_summary%></p>         
                            </div>
                        </div>
                    </div>
                    </div>
            </a>
                <%}%>
            </div>
        </div>
        </div>



<%- include('partials/footer.ejs') %>



