<%- include('partials/header.ejs') %>
<header>
    <div class="container">
        <div class="row">
            <h1 class="main-heading jersey-10-regular">Games!!!!!</h1>
        </div>
        <div class="row">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text"
                    class="form-control form-control-lg"
                    placeholder="search"
                    id="searchtext"
                    name="like"
                    value="<%= search %>"
                   >
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg" type="submit" id="searchbtn">Search</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
   <!--- <script>console.log(<%- JSON.stringify(gameData) %>)</script>-->

</header>
<div class="container" id="results">
    <% for(let game of gameData) { %>
        <a href="./games/<%= game.game_id %>" class="plain">
        <div class="card">
           <div class="row">
                <div class="col-md-2">
                    <img src="<%=game.cover.replace("t_thumb", "t_1080p")%>" class="card-img" alt="<%=game.name%> cover">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="card-title game-title"><%=game.name%></p>
                        <p class="card-text game-summary"><%=game.summary%></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
        <% }%>
</div>
<%- include('partials/footer.ejs') %>
